## Gene Markers (42 total)

The following protein biomarkers were measured:
ACE2, C1QC, C3a, C3aR, C3d, C4d, C5aR, C9, CD107a, CD11b, CD11c, CD141, CD183, CD196, CD21, CD227, CD25, CD31, CD35, CD38, CD45, CD46, CD55, CD68, Clusterin, CollagenIV, DAPI, EpCAM, FoxP3, GranzymeB, ICOS, MASP2, Nestin, PD1, Perlecan, RORgammaT, SC5b9, SPP1, TFAM, VWF, aSMA, bCatenin1
